.custom-btn{
 color:rgb(195, 33, 72);
 font-size:25px;
 text-decoration: none;
 padding:5px;
}

.custom-btn:hover{
border:1px solid rgb(195, 33, 72);
padding:5px;
border-radius: 3px;
}

.custom-btn.active {
    text-decoration: underline;
  }